{:kotoba.app/id "cloud.itonami.isic-0116", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihve5kfpuhoofzbeaohqldy2ghzc6z2y2ztw32i7umrv5dfs2ni4i", :kotoba.app/embed-url "ipfs://bafkreihve5kfpuhoofzbeaohqldy2ghzc6z2y2ztw32i7umrv5dfs2ni4i", :published {:archive "https://kotobase.net/ipfs/bafkreihve5kfpuhoofzbeaohqldy2ghzc6z2y2ztw32i7umrv5dfs2ni4i", :size 72379, :put-status 201, :get-status 200, :at "2026-08-15T12:55:44.035Z"}}
